body {
    font-family: 'Cormorant Garamond', serif; color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #141414;
    margin: 0 auto;
}
.centered-content {
    text-align: center; 
    margin-top: 20px; 
}
p {
    text-align: center;
    overflow-wrap: break-word; 
    white-space: normal;
    font-size: 38px;
    margin: 15px auto; 
    line-height: 1;
    width: 1000px;
    opacity: 80%;
}
video {
    max-width: 100%;
    height: auto;
    filter: grayscale(80%);
}
video:hover {
    filter: none;
}
span {
    text-align: justify;
    font-size: 48px;
}
a {
    color: #ffffff; 
    font-weight: bold; 
    text-decoration: none;
    text-shadow: 
        0 0 0px #ffffff,  
        0 0 0px #ffffff, 
        0 0 0px #ffffff; 
}
a:hover {
    color: #ffffff; 
    text-decoration: none;
    text-shadow: 
        0 0 5px #ffffff,  
        0 0 10px #e100ff, 
        0 0 15px #e100ff;  
}
h1 {
    opacity: 80%;
    margin-left: 0px;
    font-size: 48px;
    color: #ffffff; 
    font-weight: bold; 
    text-decoration: none;
    text-shadow: 
        0 0 0px #ffffff,  
        0 0 0px #ffffff, 
        0 0 0px #ffffff; 
}
h1:hover {
    margin-left: 0px;
    font-size: 48px;
    color: #ffffff; 
    text-decoration: none;
    text-shadow: 
        0 0 5px #ffffff,  
        0 0 10px #e100ff, 
        0 0 15px #e100ff; 
}
.container {
    position: relative;
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 50%; 
    transition: opacity 1s ease-in-out;
}
img:hover {
    opacity: 1; 
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 100%; 
    transition: opacity 1s ease-in-out;
}
.image-container {
    display: flex;
    justify-content: center;
}
.image-container img {
    width: 600px; 
    border-radius: 0px;
    margin: 35px; 
    height: 540px; 
}
h3 {
    opacity: 80%;
    margin-left: 80px;
    font-size: 48px;
    color: #ffffff; 
    font-weight: bold; 
    text-decoration: none;
}
hr {
    background-color: #f080ff; 
    border: none; 
    height: 2px; 
    margin: 20px 0; 
    box-shadow: 0 0 10px rgba(225, 0, 255, 0.7); 
}
.social-links {
    display: flex; 
}

.social-links a {
    text-decoration: none; 
    color: #ffffff;
}
